[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint-django = "*"
pylint = "*"
pylint-plugin-utils = "*"

[packages]
cffi = "==1.13.2"
django = "==2.1.15"
jsonfield = "==2.0.2"
raven = "==6.9.0"
psycopg2-binary = "==2.8.6"
scrapy-tw-rental-house = "==1.1.0"

[requires]
python_version = "3"
